<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/producto.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    
        <header class="califest-header-prin">
        <div class="centrar">
            <div class="califest-header">
                <img src="/images/logo.png" alt="" class="califest-header__logo">
                <nav class="califest-header__nav">
                    <ul class="califest-header__items">
                        <li class="califest-header__item"> <a href="">TICKETS</a></li>
                        <li class="califest-header__item"><a href="#">ABOUT</a></li>
                        <li class="califest-header__item"><a href="#">GALERY</a></li>
                        <li class="califest-header__item"><a href="#">LINE UP</a></li>
                        <li class="califest-header__item"><a href="#">NEWS</a></li>
                        <li class="califest-header__item"><a href="/tienda">STORE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

<div class="header_dos">

    <div class="cuenta">
        <img src="/images/cuenta.png" class="iconos">
           <p class="titulo_cuentas">Account</p>
    </div>

        <div class="lista">
        <img src="/images/lista.png" class="iconos">
        <p class="titulo_cuentas">Wishlist</p>
    </div>

<a href="/carrito" class="link">
        <div class="carrito">
            <img src="/images/carrito.png" class="iconos">
            <div class="carrito__num">
                <span class="carrito__numero"></span>
            </div>
            <p class="titulo_cuentas">Cart</p>
        </div>
</a>

</div>


    <article class="producto">
<div class="imagen">
        {{#if producto.imagen}}
            <img class="producto__imagen" src="{{producto.imagen}}">
        {{else}}
            <p>Producto sin imagen, sorry</p>
        {{/if}}
</div>
<div class="descripcion">
        <h1 class="producto__titulo">{{producto.titulo}}</h1>
        <h3 class="producto__precio">${{producto.precio}}</h3>
        <h1 class="titulo_descripcion">DESCRIPTION</h1>
        <p class="producto__descripcion">
            {{producto.descripcion}}
        </p>


    <div>

        <button class="producto-detalle__carrito">ADD TO CART</button>
    </div>

</div>
    </article>


  <footer class="footer-fondo">
<div class="footer-fondo__redes" style="background-image: url('/images/footer-instagram.png')">
<img src="/images/instagram.jpg" alt="">
<img src="/images/facebook.png" alt="">
<img src="/images/youtube.png" alt="">
</div>

        <div class="footer-fondo__barra">
            <h1>Patrocina</h1>
            <img src="/images/jonhy.png" alt="" >
            <img src="/images/nissan.jpg" alt="">
            <img src="/images/shock.png" alt="">
            <img src="/images/noisey.png" alt="">
            <img src="/images/Publimetro.png" alt="">
            <img src="/images/El-informador.png" alt="">
            <img src="/images/electro-emite.png" alt="">
            <img src="/images/SantaMartaTurismo.png" alt="">
            <img src="/images/Monster.png" alt="">

        </div>
    <script src="/scripts/tienda.js"></script>


<script src="/scripts/almacen.js"></script>

<script>

var cart = new Almacen("carrito");

let agregar = document.querySelector('.producto-detalle__carrito');

agregar.addEventListener("click", function (){
    cart.agregar("producto",{
titulo: document.querySelector('.producto__titulo').innerHTML,
imagen: document.querySelector('.producto__imagen').src,
precio: document.querySelector('.producto__precio').innerHTML,
descripcion: document.querySelector('.producto__descripcion').innerHTML



    });

    cart.contarCon("producto");

        });

cart.contarCon("producto");
document.querySelector('.carrito__numero').append(cart.contador);
</script>

</body>
</html>