<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

        <header class="califest-header-prin">
        <div class="centrar">
            <div class="califest-header">
                <img src="/images/logo.png" alt="" class="califest-header__logo">
                <nav class="califest-header__nav">
                    <ul class="califest-header__items">
                        <li class="califest-header__item"> <a href="">TICKETS</a></li>
                        <li class="califest-header__item"><a href="#">ABOUT</a></li>
                        <li class="califest-header__item"><a href="#">GALERY</a></li>
                        <li class="califest-header__item"><a href="#">LINE UP</a></li>
                        <li class="califest-header__item"><a href="#">NEWS</a></li>
                        <li class="califest-header__item"><a href="/tienda">STORE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="fondo_tienda_div">
                <img src="/images/imagen_fondo_tienda.png" alt="" class="fondo_tienda">

    </div>
<h2>Filtros</h2>
    <ul>
        <li><a href="/tienda/Accesorio">Accesorio</a></li>
        <li><a href="/tienda/Hoodie">Hoodie</a></li>
        <li><a href="/tienda/Camiseta">Camiseta</a></li>
    </ul>

    {{#if esDiseno}}
        <label>Ingresa el rango de precio</label>
        <input value="{{precio}}" class="input-rango" type="range" min="10000" max="30000">
    {{/if}}

    {{#if esArquitectura}}
        Categoría Arquitectura
    {{/if}}

    <ul class="lista-productos">
        {{#each productos}}
             <article class="lista-productos__item producto">
                <img src="{{imagen}}" class="producto__imagen">
                <h3 class="producto__titulo">{{titulo}}</h3>
                <h3 class="producto__titulo">{{nombre}}</h3>
                <p class="producto__precio">${{precio}}</p>
                <a class="producto__boton" href="/tienda/{{titulo}}">BUY NOW</a>
              </article>
        {{/each}}
    </ul>



    <footer class="footer-fondo">
<div class="footer-fondo__redes" style="background-image: url('./images/footer-instagram.png')">
<img src="/images/instagram.jpg" alt="">
<img src="/images/facebook.png" alt="">
<img src="/images/youtube.png" alt="">
</div>

        <div class="footer-fondo__barra">
            <h1>Patrocina</h1>
            <img src="/images/jonhy.png" alt="">
            <img src="/images/nissan.jpg" alt="">
            <img src="/images/shock.png" alt="">
            <img src="/images/noisey.png" alt="">
            <img src="/images/Publimetro.png" alt="">
            <img src="/images/El-informador.png" alt="">
            <img src="/images/electro-emite.png" alt="">
            <img src="/images/SantaMartaTurismo.png" alt="">
            <img src="/images/Monster.png" alt="">

        </div>

    </footer>
    <script>
        var rango = document.querySelector('.input-rango');
        function buscarPorPrecio(){
            console.log(rango.value);
            location.href = '/tienda/Diseño?precio=' + rango.value;
        }
        rango.addEventListener('change', buscarPorPrecio);
    </script>

</body>
</html>