<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/tienda.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

    <header class="califest-header-prin">
        <div class="centrar">
            <div class="califest-header">
                <img src="/images/logo.png" alt="" class="califest-header__logo">
                <nav class="califest-header__nav">
                    <ul class="califest-header__items">
                        <li class="califest-header__item"> <a href="">TICKETS</a></li>
                        <li class="califest-header__item"><a href="#">ABOUT</a></li>
                        <li class="califest-header__item"><a href="#">GALERY</a></li>
                        <li class="califest-header__item"><a href="#">LINE UP</a></li>
                        <li class="califest-header__item"><a href="#">NEWS</a></li>
                        <li class="califest-header__item"><a href="/tienda">STORE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor-uno">

        <div class="contenedor-uno__fondo" style="background-image: url('/images/imagen_fondo_tienda.png')">
            <div class="centrar">
                <div class="contenedor-uno__logo">
                    <img src="/images/logoPrincipal.png" alt="" class="contenedor-uno__front">
                </div>


                <div class="contenedor-uno__slogan">
                    <p>STORE</p>
                </div>
            </div>
        </div>

    </div>


    <div class="header_dos">

        <h2 class="titulos_filtros">Category</h2>
        <select class="tipo">
            <option id="/tienda">Select</option>
            <option id="/tienda/accesorio">Accessories</option>
            <option id="/tienda/hoodie">Hoodies</option>
            <option id="/tienda/camiseta">T-shirts</option>
        </select>



        <h2 class="titulos_filtros">Collection</h2>
        <select class="coleccion">
            <option id="/tienda">select</option>
            <option id="/tienda/coleccion/nuevo">New</option>
            <option id="/tienda/coleccion/viejo">2018</option>
        </select>



        <h2 class="titulos_filtros">Artist</h2>
        <select class="artista">
            <option id="/tienda">Select</option>
            <option id="/tienda/artista/alan">Alan Walker</option>
            <option id="/tienda/artista/chain">The Chainsmokers</option>
            <option id="/tienda/artista/1975">The 1975</option>
            <option id="/tienda/artista/coldplay">Coldplay</option>
        </select>
   

        <div class="cuenta">
            <img src="/images/cuenta.png" class="iconos">
            <p class="titulo_cuentas">Account</p>
        </div>

        <div class="lista">
            <img src="/images/lista.png" class="iconos">
            <p class="titulo_cuentas">Wishlist</p>
        </div>
<a href="/carrito" class="link">
        <div class="carrito">
            <img src="/images/carrito.png" class="iconos">
            <div class="carrito__num">
                <span class="carrito__numero"></span>
            </div>
            <p class="titulo_cuentas">Cart</p>
        </div>
</a>

    </div>

    <ul class="lista-productos">
        {{#each productos}}
        <article class="lista-productos__item producto">
            <img src="{{imagen}}" class="producto__imagen">
            <h3 class="producto__titulo">{{titulo}}</h3>
            <h3 class="producto__titulo">{{nombre}}</h3>
            <p class="producto__precio">${{precio}}</p>
            <a class="producto__boton" href="/tienda/producto/{{titulo}}">BUY NOW</a>
        </article>
        {{/each}}
    </ul>



    <footer class="footer-fondo">
        <div class="footer-fondo__redes" style="background-image: url('/images/footer-instagram.png')">
            <img src="/images/instagram.jpg" alt="">
            <img src="/images/facebook.png" alt="">
            <img src="/images/youtube.png" alt="">
        </div>

        <div class="footer-fondo__barra">
            <h1>Patrocina</h1>
            <img src="/images/jonhy.png" alt="">
            <img src="/images/nissan.jpg" alt="">
            <img src="/images/shock.png" alt="">
            <img src="/images/noisey.png" alt="">
            <img src="/images/Publimetro.png" alt="">
            <img src="/images/El-informador.png" alt="">
            <img src="/images/electro-emite.png" alt="">
            <img src="/images/SantaMartaTurismo.png" alt="">
            <img src="/images/Monster.png" alt="">

        </div>

    </footer>

    <script>

        function irCategoria(url, ubicacion) {

            var seleccionar = document.querySelector(url);
            seleccionar.addEventListener('change', function () {

                let categoria = seleccionar.options[seleccionar.selectedIndex].id;

                location.href = categoria;


            });

        }

        irCategoria('.tipo');
        irCategoria('.coleccion');
        irCategoria('.artista');




    </script>


    <script src="/scripts/tienda.js"></script>

    <script src="/scripts/almacen.js"></script>


    <script>
        var cart = new Almacen("carrito");

        cart.contarCon("producto");
        document.querySelector('.carrito__numero').append(cart.contador);


    </script>


</body>

</html>